@media only screen and (min-width: 48em) {

    main {
        font-size: 1em;
    }

    p {
    	font-size: 1.125em;
    	line-height: 1.375em;
    	margin-bottom: $margin;
    }

    .btn,
    #mce-EMAIL {
      margin-bottom: 0;
    }

    .btn,
    #mc_embed_signup {
    	display: inline-block;
    	margin: 1rem -3px;
    	width: 45%;
        vertical-align: middle;
    }

    .btn {
    	margin-right: 7.5%;
    }


    #logo_redd {
		margin: -10% auto 0;
	}

    blockquote {
    	margin: 1rem 0 $margin;

    	p {
    		font-size: 2.5em;
    		line-height: 1.3125em;
    		margin-bottom: .5rem;
    	}

    	cite {
    		font-size: 1.125em;
    		line-height: 1.375em;

    		span {
    			display: inline;
    			margin-left: 5px;
    		}
    	}
    }

    #stamp_machine {
    	display: block;
    }

    #stage_two {
    	h1 {
    		font-size: 2em;
    		margin: 1.5rem 0 1rem;
    		line-height: 1.5;
    	}
    	p {
    		font-size: 1em;
    		line-height: 1.3125em;
    	}
    }

    .logo_wrap {
    	border-bottom: none;
    	display: inline-block;
    	margin: 0 -2px;
    	padding: 2rem 5%;
    	text-align: left;
    	vertical-align: middle;
    	width: 50%;
    }

    #redd_wrap {
    	border-right: 1px solid $black;
    	text-align: right;
    }

    #logo_redd_red,
    #logo_ecotrust {
    	display: inline-block;
    	margin: 0;
    }

    .social {
    	bottom: 7.5%;
    	left: 0;
    	padding-top: 0;
    	position: absolute;
    	width: 100%;

    	p {
    		font-size: 1em;
    		display: inline-block;
    		margin: 0 $margin 0 0;
    	}
    }
}
