@media only screen and (min-width: 72em) {

    .stage_wrap {
        display: block;
        margin: 0 auto;
        position: relative;
        max-width: 58em;
    }

    #stage_two {
    	h1 {
    		font-size: 3em;
    		margin: .5rem 0 1rem;
    	}
    	p {
    		font-size: 1.06125em;
    		line-height: 1.375em;
    		margin-bottom: 1.5rem;
    	}
    }

	p {
    	font-size: 1.3125em;
    	line-height: 1.5em;
    	margin-bottom: $margin;
    }

    .btn,
    #mce-EMAIL {
    	font-size: 1em;
    	line-height: 3rem;
    }

    .btn,
    #mc_embed_signup {
    	margin-bottom: $margin;
    }

    .button {
    	height: 1rem;
    	top: 1rem;
    }

	#logo_redd {
		margin: -8% auto 0;
	}

	blockquote {
		display: block;
		margin: $margin auto;
		max-width: 70%;

		p {
    		font-size: 2.5em;
    		line-height: 1.25em;
    	}

    	cite {
    		font-size: .9375em;
    		line-height: 1.5em;
    	}
	}

	.logo_wrap {
		padding: 3rem 5%;
	}

	#logo_redd_red {
		max-width: 280px;
	}

	#logo_ecotrust {
		max-width: 320px;
	}

    .social {

    	p {
    		font-size: 1.125em;
    	}
    }
}
