/* 	=============================
Best Practice Base Styles =====================	*/

* {
	box-sizing: border-box;
}

html {
	font-size: 1em;
	line-height: 1.5;
}

body {
	font-style: normal;
	font-weight: normal;
}

::-moz-selection {
    background: rgba($white, 0.25);
    text-shadow: none;
}

::selection {
    background: rgba($white, 0.25);
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
	height: auto;
	max-width: 100%;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

a {
	opacity: 1;
	text-decoration: none;
	transition: 0.2s opacity ease-in-out;

	&:hover {
		opacity: .65;
	}
}

p {
	color: $black;
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0 0 1.5rem;
}

/* 	=============================
Project Base styles =====================	*/

body {
	background: $primaryColor;
	font-family: $sans;
}

main {
	font-size: .875em;
}

::-webkit-input-placeholder {
   color: $black;
}

:-moz-placeholder { /* Firefox 18- */
   color: $black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $black;
}

:-ms-input-placeholder {
   color: $black;
}

blockquote {
	color: $black;
	display: block;
	font-size: 1em;
	font-family: $serif;
	margin: 0 auto $margin;

	p {
		color: $black;
		font-size: 1.375em;
		line-height: 1.3125em;
		margin-bottom: .5rem;
	}

	cite {
		font-family: $sans;
		font-size: .875em;
		font-style: normal;
		line-height: 1.25em;

		span {
			display: block;
			font-family: $serif;
		}
	}
}

.section {
	padding: 5px 10%;
	position: relative;
	text-align: center;
}

#stage_one {
	background-image: url('../moricetown_aerial.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

#stage_two {
	h1 {
		font-size: 1.6375em;
		margin: 1.5rem 0 1rem;
		line-height: 1.25;
	}
	p {
		font-family: $sans;
		font-size: .875em;
		line-height: 1.125em;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}

#logo_redd {
	display: block;
	margin: -50% auto 0;
	max-width: 330px;
}

#stamp_machine {
	margin: 0 auto;
	max-width: 220px;
	width: 25%;
}

.btn,
#mce-EMAIL {
	display: block;
	border: 1px solid $white;
	color: $black;
	font-size: .875rem;
	line-height: 2rem;
	margin-bottom: 1rem;
	padding: 0 1rem;
	width: 100%;
}

.button {
	background-image: url('../img/right_arrow.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	background-position: 50% 50%;
	border: none;
	color: transparent;
	display: block;
	height: 1rem;
	position: absolute;
	right: 3px;
	text-align: right;
	top: .5rem;
	transition: .2s right ease-in-out;
	-webkit-transition: .2s right ease-in-out;
	-moz-transition: .2s right ease-in-out;
	-ms-transition: .2s right ease-in-out;
	width: auto;
	z-index: 8;

	&:hover {
		right: 0px;
	}
}

#mc_embed_signup_scroll {
	position: relative;
}

.next_section {
	background-color: $white;
	background-image: url('../img/svgs/down_arrow.svg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	bottom: 7.5%;
	display: none;
	height: 44px;
	left: 50%;
	margin-bottom: -22px;
	margin-left: -22px;
	position: absolute;
	text-indent: -999999px;
	width: 44px;
	z-index: 8;
	transition: 0.2s all ease-in-out;
	transform-origin: 50% 50%;

	&:hover {
		background-size: 130% auto;
		background-position: 50% 50%;
		opacity: 1;
	}
}

.border_top {
	background: $primaryColor;
	display: block;
	height: 10px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 8;
}

.logo_wrap {
	border-bottom: 2px solid $black;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
}

#logo_redd_red {
	display: block;
	margin: 0 auto;
	max-width: 200px;
}

#logo_ecotrust {
	display: block;
	margin: 0 auto;
	max-width: 240px;
}

.social {
	padding-top: 1em;

	p {
		color: $black;
		margin-bottom: .25rem;
	}

	a {
		color: $primaryColor;
	}
}

// scroll nav colors

.fp-viewing-stageone,
.fp-viewing-stagetwo {
	#fp-nav ul li a, .fp-slidesNav ul li a {
		span {
			background: rgba($white,0.1);
			border: 1px solid $white;
			height: 6px;
			width: 6px;
		}

		&.active span {
			background: $white;
			height: 6px;
			margin: -2px 0 0 -2px;
			width: 6px;
		}
	}
}

.fp-viewing-stagethree {
	#fp-nav ul li a, .fp-slidesNav ul li a {
		span {
			background: rgba($primaryColor,0.1);
			border: 1px solid $primaryColor;
			height: 6px;
			width: 6px;
		}

		&.active span {
			background: $primaryColor;
			height: 6px;
			margin: -2px 0 0 -2px;
			width: 6px;
		}
	}
}
